<% if current_user %>
  <div data-controller="notification-subscription" data-notification-subscription-current-user-id-value="<%= current_user.id %>" class="footer">
    <div class="footer-links">
        <%= link_to root_path do %>
          <i class="fa-solid fa-house"></i>
        <% end %>
        <%= link_to top_cats_path do %>
          <i class="fa-regular fa-star"></i>
        <% end %>
        <%= link_to user_matches_path(current_user) do %>
          <i data-notification-subscription-target="heart" class="fa-regular fa-heart"></i>

        <% end %>
        <%= link_to chatrooms_path do %>
          <i class="fa-regular fa-comment"></i>
        <% end %>
        <%= link_to profile_path do %>
          <i class="fa-solid fa-user"></i>
        <% end %>
    </div>
  </div>
<% end %>
