<div class="footer">
  <div class="footer-links">
    <%= link_to "Home", root_path %>
    <%= link_to "Top Rated" %>
    <%= link_to "Matches" %>
    <%= link_to "Chat" %>
    <%= link_to "Profile", profile_path %>
  </div>
</div>
