<% if current_user %>
  <div data-controller="notification-subscription navbar" data-notification-subscription-current-user-id-value="<%= current_user.id %>" class="footer">
    <div class="footer-links">
      <% if current_user.role == "cat_sitter" %>
        <%= link_to cats_path do %>
          <i data-navbar-target="icon" class="fa-solid fa-paw fa-lg <%= 'active' if current_page?(cats_path) %>"></i>
        <% end %>
        <%= link_to map_cats_path do %>
          <i data-navbar-target="icon" class="fa-solid fa-magnifying-glass fa-lg <%= 'active' if current_page?(map_cats_path) %>"></i>
        <% end %>
        <%= link_to top_cats_path do %>
          <i data-navbar-target="icon" class="fa-regular fa-star fa-lg <%= 'active' if current_page?(top_cats_path) %>"></i>
        <% end %>
        <%= link_to chatrooms_path do %>
          <i data-navbar-target="icon" data-notification-subscription-target="chat" class="fa-regular fa-comment fa-lg <%= 'active' if current_page?(chatrooms_path) %>"></i>
        <% end %>
        <%= link_to profile_path do %>
          <i data-navbar-target="icon" class="fa-solid fa-user fa-lg <%= 'active' if current_page?(profile_path) %>"></i>
        <% end %>
      <% else %>
        <%= link_to user_matches_path(current_user) do %>
          <i data-navbar-target="icon" data-notification-subscription-target="heart" class="fa-solid fa-heart fa-lg <%= 'active' if current_page?(user_matches_path(current_user)) %>"></i>
        <% end %>
        <%= link_to chatrooms_path do %>
          <i data-navbar-target="icon" data-notification-subscription-target="chat" class="fa-regular fa-comment fa-lg <%= 'active' if current_page?(chatrooms_path) %>"></i>
        <% end %>
        <%= link_to profile_path do %>
          <i data-navbar-target="icon" class="fa-solid fa-user fa-lg <%= 'active' if current_page?(profile_path) %>"></i>
        <% end %>
      <% end %>
    </div>
  </div>
<% end %>
