<div class="footer">
  <div class="footer-links">
    <%= link_to "Home", class: "btn btn-primary" %>
    <%= link_to "Top Rated", class: "btn btn-primary" %>
    <%= link_to "Likes", class: "btn btn-primary" %>
    <%= link_to "Chat", class: "btn btn-primary" %>
    <%= link_to "Log out", destroy_user_session_path, data: {turbo_method: :delete} %>
  </div>
</div>
