<h2>Add my cat</h2>
<%= simple_form_for(@cat) do |f| %>
  <%= f.input :name %>
  <%= f.input :breed %>
  <%= f.input :age %>
  <%= f.input :personality, label: "Describe your cat" %>
  <%= f.input :img_1, as: :file, label: "Add your cat's photo" %>
  <%= f.input :img_2, as: :file, label: "Add your cat's photo (optional)"%>
  <%= f.input :img_3, as: :file, label: "Add your cat's photo (optional)"%>
  <%= f.submit %>
<% end %>
