<h2>Add a new cat</h2>
<%= simple_form_for(@cat) do |f| %>
  <%= f.input :name %>
  <%= f.input :details %>
  <%= f.input :img_1, as: :file %>
  <%= f.input :img_2, as: :file %>
  <%= f.input :img_3, as: :file %>
  <%= f.submit %>
<% end %>
