<div class="container mt-3 text-center">
  <h1>Cats</h1>
  <% @cats.each do |cat| %>
    <div class="container mb-3">
      <h2><%= cat.name %></h2>
      <p><%= cat.details%></p>
      <%= link_to "Show this cat", cat_path(cat), class: "btn" %>
    </div>
  <%end%>

  <%= link_to "Add my cat", new_cat_path if policy(Cat).new? %>
  <%= link_to "Back", root_path, class: "btn" %>
</div>
