<div class="container text-center">
  <div class="text-center">
  <div  data-controller="modal">
    <button data-action="click->modal#open" class="btn btn-outline-primary">Add Cat</button>
    <dialog data-modal-target="modal">
      <%= render "shared/form", cat: @cat %>
      <button data-action="click->modal#close" class="btn btn-outline-primary">close</button>
    </dialog>
  </div>


  <div class="cards">
    <% @sitters.each do |sitter| %>
      <div class="card-trip">
        <div class="card-trip-infos">
          <div>
            <h1><%= sitter.first_name.capitalize %> <%= sitter.last_name.capitalize %></h1>
          </div>
          <p>
            <br><%= sitter.details %>
            <br><%= sitter.email %>
            <br>Rating ???
          </p>
        </div>
      </div>
    <% end %>
  </div>
</div>
