<div class="container mt-3 text-center">
  <h1>Cats</h1>
  <div data-controller="match">
    <% @cats.each_with_index do |cat, index| %>
      <div data-match-target="next" id="<%=index%>" class="container mb-5 <%= index.zero? ? '' : 'd-none' %>">
        <h2><%= cat.name %></h2>
        <% if cat.img_1.attached? %>
          <%= cl_image_tag(cat.img_1.key, height: 300, width: 300)%>
        <% end %>
        <% if cat.img_2.attached? %>
          <%= cl_image_tag(cat.img_2.key, height: 300, width: 300)%>
        <% end %>
        <% if cat.img_3.attached? %>
          <%= cl_image_tag(cat.img_3.key, height: 300, width: 300)%>
        <% end %>
        <p><%= cat.details%></p>
          <button data-action="click->match#heart">heart</button>
          <button data-action="click->match#next"  data-id="<%=index%>" >next</button>
        <%= link_to "Show this cat", cat_path(cat), class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
