<div class="text-center">
  <% @cats.each do |cat| %>
    <% if cat.img_1.attached? %>
      <div class="card-trip mb-3">
        <h1 class="text-start"><%= cat.name %></h1>
        <%= cl_image_tag cat.img_1.key %>
        <div class="card-trip-infos">
          <div>
            <p>Rating: ⭐︎⭐︎⭐︎</p>
          </div>
          <p class="card-trip-pricing">Their owner is: <%= cat.user.first_name %> <%= cat.user.last_name %></p>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
        <div>
          <p><%= cat.details %></p>
        <div class="card-trip-infos">
          <div>
            <p>Skip</p>
          </div>
          <p class="card-trip-pricing">Info</p>
          </div>
        </div>
      </div>
    <% end %>
  <% end%>
</div>
