<div class="cat-index-container">
  <div class="cat-card" data-controller="match">
    <% if @cats.any? %>
      <% @cats.each_with_index do |cat, index| %>
        <div data-match-target="next" id="<%=index%>" class="container <%= index.zero? ? '' : 'd-none' %>">
          <div class="cat-card-title">
            <h1><%= cat.name %></h1>
          </div>
          <div class="cat-card-image">
            <% if cat.img_1.attached? %>
              <div class="cat-picture">
                <%= cl_image_tag(cat.img_1.key) %>
                  <div class="cat-card-actions">
                    <%= button_to cat_matches_path(cat), class: "btn-paw", data: {turbo_method: :post} do %>
                      <i class="fa-solid fa-paw"></i>
                    <% end %>
                    <button class="btn-trash"><i  data-action="click->match#next"  data-id="<%=index%>" class="fa-solid fa-xmark"></i></button>
                  </div>
              </div>
              <% end %>
          </div>
          <div class="cat-card-details">
            <p><%= cat.personality%><br/>
            <hr>
            <span id="red" style="font-family: Dosis; font-size: 1.1rem; font-weight: 700;">Breed:</span> <%= cat.breed %><br/>
            <span id="red" style="font-family: Dosis; font-size: 1.1rem; font-weight: 700;">Age:</span> <%= cat.age %>
            <%if cat.ratings.average(:rating) != nil %>
              <% average_rating_floor = cat.ratings.average(:rating).to_i %>
              <% average_rating_decimal = cat.ratings.average(:rating) - average_rating_floor %>
              <% 5.times do |index| %>
                <% if index < average_rating_floor %>
                  <i class="fas fa-star" style="color: #FFD43B;"></i>
                <% elsif index == average_rating_floor && average_rating_decimal > 0 %>
                  <i class="fas fa-star-half" style="color: #FFD43B;"></i>
                <% else %>
                  <i class="far fa-star" style="color: white;"></i>
                <% end %>
              <% end %>
            <% end %>
              <% unless cat.ratings.average(:rating).nil? %>
                <% rating = cat.ratings.average(:rating) %>
                <p>Rated: <span><%= rating.round(1) %></span> from <span><%= cat.ratings.count %></span> reviews</p>
              <% else %>
                <p><span id="red" style="font-family: Dosis; font-size: 1.1rem; font-weight: 700;">Not rated yet</span></p>
              <% end %>
          </div>
        </div>
      <% end %>
    <% else %>
      <p>Sorry, no cats found. Try another city or look directly at the map.</p>
       <img src="/images/404.jpg" width="300" />
    <%end%>
    </div>
  </div>
</div>
