
<h2 class="main-header"><%= @cat.name %></h2>

<p><%= @cat.personality %></p>

<% if policy(@cat).edit? %>
  <%= link_to "Edit this cat", edit_cat_path(@cat), class: "btn btn-primary" %> |
<% end %>
  <%= link_to "Heart", user_matches_path(@cat), class: "btn btn-primary" %>
<%= button_to "Destroy this cat", @cat, method: :delete if policy(@cat).destroy? %>
  <%= link_to "Back", cats_path, class: "btn btn-primary" %>

  <%if @average_rating != nil %>
    <% average_rating_floor = @average_rating.to_i %>
    <% average_rating_decimal = @average_rating - average_rating_floor %>
    <% 5.times do |index| %>
      <% if index < average_rating_floor %>
        <i class="fas fa-star" style="color: #FFD43B;"></i>
      <% elsif index == average_rating_floor && average_rating_decimal > 0 %>
        <i class="fas fa-star-half" style="color: #FFD43B;"></i>
      <% else %>
        <i class="far fa-star" style="color: white;"></i>
      <% end %>
    <% end %>
  <% end %>
    <% unless @average_rating.nil? %>
      <% rating = @average_rating %>
      <p>Rated: <span><%= rating.round(1) %></span> from <span><%= @cat.ratings.count %></span> reviews</p>
    <% else %>
      <p>Not yet rated</p>
    <% end %>
