<!DOCTYPE html>
<html>
  <head>
    <title>Feline Friends - Connecting cats and cat lovers, one swipe at a time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container mt-3">
      <div class="content-container">
        <%= yield %>
      </div>

      <div class="flashes-container">
        <%= render "shared/flashes" %>
      </div>
    </div>

    <div class="footer-container">
      <%= render "shared/footer" %>
    </div>
  </body>
</html>
