<!DOCTYPE html>
<html>
  <head>
    <title>Feline Friends - Connecting cats and cat lovers, one swipe at a time</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="site">
    <main class="site-content">
      <%= yield %>
    </main>
    <%= render "shared/flashes" %>
    <%= render "shared/footer" %>
  </body>
</html>
